{% extends 'mentor/base.html' %}

{% block content %}
	
  <div class="flex flex-col items-center justify-center w-700 pt-6">
    
	<h1>Login</h1>
  <br/>
		<form action="" method=POST>
			{% csrf_token %}

      <div class="singel-form form-group w-400 mb-3">
        <label for="exampleInputEmail1" class="form-label font-extrabold">Username</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" >
        
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label font-extrabold">Password</label>
        <input type="password" class="form-control" name="password">
      </div>

      <div class="mb-3 row h-30 flex justify-center items-center m-3">
        <label for="role" class="pr-2 font-awesome font-extrabold">Choose your role:</label>
          <select id="role" name="role" class="role-dropdown">
              <option value="teacher">Teacher</option>
              <option value="student">Student</option>
          </select>
      </div>
      


          
        
        <div class="flex justify-center items-center">
          <input type="submit" value="Submit" class="btn btn-secondary">
        </div>

		</form>
  </div>
		

<br/><br/>	
{% endblock %}