{% extends 'mentor/base.html' %}

{% block content %}
	
<div class="lg:flex items-center justify-center w-800 h-200 mt-8">
    <div class="shadow p-4 mb-5 bg-body rounded">
        <h1>Register</h1>
        <br/>

        <form action="{% url 'membership:register' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="flex items-center justify-center mt-6">
                <label for="role" class="mr-4 t-20">Choose your role:</label>
                <select id="role" name="role" class="role-dropdown" onchange="myFunction()">
                    <option value="student">Student</option>
                    <option value="teacher">Teacher</option>    
                </select>
            </div>

            <div class="flex flex-col items-center justify-center mt-6 " id="teacher-fields" >
                <!-- Teacher-specific fields will be added dynamically here -->

            </div>

            <div class="flex items-center justify-center mt-6">
                <input type="file" id="profile_image" name="profile_image" class="border border-gray-300 rounded px-4 py-2 w-full">
            </div>

            <br/><br/>
            <div class="flex justify-center items-center">
                <input type="submit" value="Submit" class="btn btn-secondary">
            </div>
        </form>
    </div>
</div>

<script>
	function myFunction() {
	var x = document.getElementById("role").value;
	console.log(x);
	var teacherFields = document.getElementById('teacher-fields');
	if(x==='teacher'){
		teacherFields.innerHTML = `
			<label for="position" class="block mt-4">Position:</label>
            <div class="singel-form form-group w-full">
			<input type="text" id="position" name="position" class="form-control border border-gray-300 rounded px-4 py-2 w-full">
            </div>

			<label for="about" class="block mt-4">About:</label>
            <div class="singel-form form-group w-full">
			<textarea id="about" name="about" class="form-control border border-gray-300 rounded px-4 py-2 w-full h-500"></textarea>
            </div>

			<label for="achievements" class="block mt-4">Achievements:</label>
            <div class="singel-form form-group w-full">
			<textarea id="achievements" name="achievements" class="form-control border border-gray-300 rounded px-4 py-2 w-full"></textarea>
            <div>

			<label for="objectives" class="block mt-4">Objectives:</label>
            <div class="singel-form form-group w-full">
			<textarea id="objectives" name="objectives" class="form-control border border-gray-300 rounded w-full"></textarea>
            </div>
			`
			};
	if(x==='student'){
			teacherFields.innerHTML = `
			<div></div>
			`;
		}
	}	
</script>
{% endblock %}

