{% extends 'mentor/base.html' %}
{% load static %}

  {% block content %}
  <section
  id="page-banner"
  class="pt-105 pb-130 bg_cover"
  data-overlay="8"
  style="background-image: url(images/page-banner-4.jpg %})"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="page-banner-cont">
          <h2>Few tips for get better</h2>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Blog</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Few tips for get better
              </li>
            </ol>
          </nav>
        </div>
        <!-- page banner cont -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
  </section>
    <!--====== PAGE BANNER PART ENDS ======-->

    <!--====== BLOG PART START ======-->

    <section id="blog-singel" class="pt-90 pb-120 gray-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="blog-details mt-30">
              <div class="thum">
                <img src="{{blog.image.url}}" alt="Blog Details" />
              </div>
              <div class="cont">
                <h3>Few tips for get better results in examination</h3>
                <ul>
                  <li>
                    <a href="#"
                      ><i class="fa fa-calendar"></i>{{blog.created_at}}</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-user"></i
                      >{{blog.teacher.teacher.username}}</a
                    >
                  </li>
                  <li>
                    <a href="#"
                      ><i class="fa fa-tags"></i>{{blog.category.name}}</a
                    >
                  </li>
                </ul>
                <p>{{blog.content}}</p>
                <ul class="share">
                  <li class="title">Share :</li>
                  <li>
                    <a href="#"><i class="fa fa-facebook-f"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                  </li>
                  <li>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
                <div class="blog-comment pt-45">
                  <div class="title pb-15">
                    <h3>{{blog_review.count}}</h3>
                  </div>
                  <!-- title -->
                  <ul id="review">  
                      {% for review in blog_review %}
                        <li>
                          <div class="comment">
                            <div class="comment-author">
                              <div class="author-thum">
                                <img src="{{ review.student.image.url }}" style="height: 2cm; width: auto;" alt="Reviews" />
                              </div>
                              <div class="comment-name">
                                <h6>{{ review.student.student.username }}</h6>
                                <span>April 03, 2019</span>
                              </div>
                            </div>
                            <div class="comment-description pt-20">
                              <p>{{ review.comment }}</p>
                            </div>
                          </div>
                          <!-- comment -->
                        </li>
                      {% endfor %}
                  </ul>
                    {% if user.is_authenticated %}
                      <div class="title pt-45 pb-25">
                        <h3>Leave a comment</h3>
                      </div>
                      <!-- title -->
                      <div class="comment-form">
                        <form action="#">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-singel">
                                <textarea
                                  placeholder="Comment"
                                  id="message"
                                ></textarea>
                              </div>
                              <!-- form singel -->
                            </div>
                            <div class="col-md-12">
                              <div class="form-singel">
                                <button class="main-btn" id="review-submit">
                                  Submit
                                </button>
                              </div>
                              <!-- form singel -->
                            </div>
                          </div>
                          <!-- row -->
                        </form>
                      </div>
                    {% else %}
                      <div class="title pt-45 pb-25">
                        <h3>Login to Comment</h3>
                      </div>
                    {% endif %}
                  <!-- comment-form -->
                </div>
                <!-- blog comment -->
              </div>
              <!-- cont -->
            </div>
            <!-- blog details -->
          </div>
          <div class="col-lg-4">
            <div class="saidbar">
              <div class="row">
                <div class="col-lg-12 col-md-6">
                  <div class="saidbar-search mt-30">
                    <form action="#">
                      <input type="text" placeholder="Search" />
                      <button type="button">
                        <i class="fa fa-search"></i>
                      </button>
                    </form>
                  </div>
                  <!-- saidbar search -->
                  <div class="categories mt-30">
                    <h4>Categories</h4>
                    <ul>
                      <li><a href="#">Fronted</a></li>
                      <li><a href="#">Backend</a></li>
                      <li><a href="#">Photography</a></li>
                      <li><a href="#">Teachnology</a></li>
                      <li><a href="#">GMET</a></li>
                      <li><a href="#">Language</a></li>
                      <li><a href="#">Science</a></li>
                      <li><a href="#">Accounting</a></li>
                    </ul>
                  </div>
                </div>
                <!-- categories -->
                <div class="col-lg-12 col-md-6">
                  <div class="saidbar-post mt-30">
                    <h4>Popular Posts</h4>
                    <ul>
                      <li>
                        <a href="#">
                          <div class="singel-post">
                            <div class="thum">
                              <img
                                src="{% static 'images/blog/blog-post/bp-1.jpg' %}"
                                alt="Blog"
                              />
                            </div>
                            <div class="cont">
                              <h6>Introduction to languages</h6>
                              <span>20 Dec 2018</span>
                            </div>
                          </div>
                          <!-- singel post -->
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="singel-post">
                            <div class="thum">
                              <img
                                src="{% static 'images/blog/blog-post/bp-2.jpg' %}"
                                alt="Blog"
                              />
                            </div>
                            <div class="cont">
                              <h6>How to build a game with java</h6>
                              <span>10 Dec 2018</span>
                            </div>
                          </div>
                          <!-- singel post -->
                        </a>
                      </li>
                      <li>
                        <a href="#">
                          <div class="singel-post">
                            <div class="thum">
                              <img
                                src="{% static 'images/blog/blog-post/bp-1.jpg' %}"
                                alt="Blog"
                              />
                            </div>
                            <div class="cont">
                              <h6>Basic accounting from primary</h6>
                              <span>07 Dec 2018</span>
                            </div>
                          </div>
                          <!-- singel post -->
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- saidbar post -->
                </div>
              </div>
              <!-- row -->
            </div>
            <!-- saidbar -->
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== BLOG PART ENDS ======-->

    

    <script type="text/javascript">
      var blogId = JSON.parse("{{ blog.id|escapejs }}");
      var username = JSON.parse("{{ username|escapejs }}");
      var studentId = JSON.parse("{{ studentId|escapejs }}");
      var studentImage = JSON.parse("{{ studentImage|escapejs }}");
      console.log(blogId);
      console.log(studentId);
      console.log(studentImage);

      const chatSocket = new WebSocket(
        "ws://" + window.location.host + "/ws/blogreviewcreation/" + blogId + "/"
      );

      chatSocket.onerror = function(e) {
        console.error("WebSocket error:", e); // Debug statement
      };

      chatSocket.onclose = function (e) {
        console.log("onclose");
      };

      chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);

        if (data.message) {
          console.log(data);
          document.querySelector("#review").innerHTML +=`
          <li>
            <div class="comment">
                <div class="comment-author">
                    <div class="author-thum">
                        <img src=${data.userImg} alt="Reviews" style="height: 2cm; width: auto;"></img>
                    </div>
                    <div class="comment-name">
                        <h6>${data.username}</h6>
                    <span>April 03, 2019</span>
                    </div>
                 </div>
                <div class="comment-description pt-20">
                    <p>${data.message}</p>
                </div>
            </div>
        </li>
           ` ;
        } else {
          alert("The message was empty!");
        }



        scrollToBottom();
      };

      document.querySelector("#review-submit").onclick = function (e) {
        e.preventDefault();

        const messageInputDom = document.querySelector("#message");
        const message = messageInputDom.value;

        console.log({
          message: message,
          username: username,
          blogId: blogId,
        });

        chatSocket.send(
          JSON.stringify({
            message: message,
            username: username,
            blogId: blogId,
            studentId: studentId,
            userImg: studentImage,
          })
        );

        messageInputDom.value = "";

        return false;
      };

      /**
       * A function for finding the messages element, and scroll to the bottom of it.
       */
      function scrollToBottom() {
        let objDiv = document.getElementById("review");
        objDiv.scrollTop = objDiv.scrollHeight;
      }

      // Add this below the function to trigger the scroll on load.
      scrollToBottom();
    </script>

    {% endblock %}
