{% extends 'mentor/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">


  {% block content %}
    <section id="page-banner" class="pt-105 pb-110 bg_cover" data-overlay="8" style="background-image: url(images/page-banner-2.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-banner-cont">
                    <h2>Learn basic javascript</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Courses</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Learn basic javasript</li>
                        </ol>
                    </nav>
                </div>  <!-- page banner cont -->
            </div>
        </div> <!-- row -->
    </div> <!-- container -->
    </section>
    
    <!--====== PAGE BANNER PART ENDS ======-->
    
    <!--====== COURSES SINGEl PART START ======-->
    
    <section id="corses-singel" class="pt-90 pb-120 gray-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="corses-singel-left mt-30">
                        <div class="title">
                            <h3>Learn basis javascirpt from start for beginner</h3>
                        </div> <!-- title -->
                        <div class="course-terms">
                            <ul>
                                <li>
                                    <div class="teacher-name">
                                        <div class="thum">
                                            <img style="width: 50px; height: 50px;" src={{course.teacher.image.url}} alt="Teacher">
                                        </div>
                                        <div class="name">
                                            <span>Teacher</span>
                                            <h6>{{course.teacher.teacher.username}}</h6>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="course-category">
                                        <span>Category</span>
                                        <h6>{{course.category.name}} </h6>
                                    </div>
                                </li>
                                <li>
                                    <div class="review">
                                        <span>Review</span>
                                        <ul>
                                            {% for _ in ""|rjust:avg_rateing %}
                                                <li><a href="#"><i class="fa fa-star"></i></a></li>
                                            {% endfor %}
                                            <li class="rating">(review {{total_review}})</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div> <!-- course terms -->
                        
                        <div class="corses-singel-image pt-50">
                            <img src="{% static 'images/course/cu-1.jpg' %}" alt="Courses">
                        </div> <!-- corses singel image -->
                        
                        <div class="corses-tab mt-30">
                            <ul class="nav nav-justified" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                                </li>
                                <li class="nav-item">
                                    <a id="curriculam-tab" data-toggle="tab" href="#curriculam" role="tab" aria-controls="curriculam" aria-selected="false">Curriculam</a>
                                </li>
                                <li class="nav-item">
                                    <a id="instructor-tab" data-toggle="tab" href="#instructor" role="tab" aria-controls="instructor" aria-selected="false">Instructor</a>
                                </li>
                                <li class="nav-item">
                                    <a id="reviews-tab" data-toggle="tab" href="#reviews" role="tab" aria-controls="reviews" aria-selected="false">Reviews</a>
                                </li>
                            </ul>
                            
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
                                    <div class="overview-description">
                                        <div class="singel-description pt-40">
                                            <h6>Course Summery</h6>
                                            <p>{{course.course_summary}}</p>
                                        </div>
                                        <div class="singel-description pt-40">
                                            <h6>Requrements</h6>
                                            <p>{{course.requirements}}</p>
                                        </div>
                                    </div> <!-- overview description -->
                                </div>
                                <div class="tab-pane fade" id="curriculam" role="tabpanel" aria-labelledby="curriculam-tab">
                                    <div class="curriculam-cont">
                                        <div class="title">
                                            <h6>Learn basis javascirpt Lecture Started</h6>
                                        </div>
                                        <div class="accordion" id="accordionExample">
                                            {% for item in course_curriculum %}
                                                <div class="card">
                                                    <div class="card-header" id="headingOne{{ item.id }}">
                                                        <a href="#" data-toggle="collapse" data-target="#collapseOne{{item.id}}" aria-expanded="true" aria-controls="collapseOne{{ item.id }}">
                                                            <ul>
                                                                <li><i class="fa fa-file-o"></i></li>
                                                                <li><span class="lecture">1.{{forloop.counter}}</span></li>
                                                                <li><span class="head">{{item.title}}</span></li>
                                                                <li><span class="time d-none d-md-block"><i class="fa fa-clock-o"></i> <span>{{item.duration}}</span></span></li>
                                                            </ul>
                                                        </a>
                                                    </div>

                                                    <div id="collapseOne{{ item.id }}" class="collapse" aria-labelledby="headingOne{{ item.id }}" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                            <p>{{item.description}}</p>
                                                            {% if enrolled %}
                                                                <video controls>
                                                                    <source src="{{ item.video.url}}">
                                                                    Your browser does not support the video tag.
                                                                </video>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                            
                                        </div>
                                    </div> <!-- curriculam cont -->
                                </div>
                                <div class="tab-pane fade" id="instructor" role="tabpanel" aria-labelledby="instructor-tab">
                                    <div class="instructor-cont">
                                        <div class="instructor-author">
                                            <div class="author-thum">
                                                <img src={{course.teacher.image.url}} alt="Instructor">
                                            </div>
                                            <div class="author-name">
                                                <a href="#"><h5>{{course.teacher.teacher.username}}</h5></a>
                                                <span>{{course.teacher.position}}</span>
                                                <ul class="social">
                                                    <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="instructor-description pt-25">
                                            <p>{{course.teacher.about}}</p>
                                        </div>
                                    </div> <!-- instructor cont -->
                                </div>
                                <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                                    <div class="reviews-cont">
                                        <div class="title">
                                            <h6>Student Reviews</h6>
                                        </div>
                                        <ul id="review">
                                            {% for review in course_review %}
                                                <li>
                                                
                                                    <div class="singel-reviews">
                                                            <div class="reviews-author">
                                                                <div class="author-thum">
                                                                    <img src={{review.student.image.url}} alt="Reviews">
                                                                </div>
                                                                <div class="author-name">
                                                                    <h6>{{review.student.student.username}}</h6>
                                                                    <span>{{review.created_at}}</span>
                                                                </div>
                                                            </div>
                                                            <div class="reviews-description pt-20">
                                                                <p>{{review.comment}}</p>
                                                                <div class="rating">
                                                                    <ul>
                                                                        {% for _ in ""|rjust:review.rateing %}
                                                                            <li><i class="fa fa-star"></i></li>
                                                                        {% endfor %}
                                                                    </ul>
                                                                    <span>{{review.rateing}}</span>
                                                                </div>
                                                            </div>
                                                    </div> <!-- singel reviews -->
                                                </li>
                                            {% endfor %}

                                        </ul>
                                        {% if enrolled %}
                                            <div class="title pt-15">
                                                <h6>Leave A Comment</h6>
                                            </div>
                                            <div class="reviews-form">
                                                <form action="#">
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-singel">
                                                                <div class="rate-wrapper">
                                                                    <div class="rate-label">Your Rating:</div>
                                                                    <div class="rate" data-total-rating="0">
                                                                        <div class="rate-item"><i class="fa fa-star" aria-hidden="true" onclick="updateRateing(1)"></i></div>
                                                                        <div class="rate-item"><i class="fa fa-star" aria-hidden="true" onclick="updateRateing(2)"></i></div>
                                                                        <div class="rate-item"><i class="fa fa-star" aria-hidden="true" onclick="updateRateing(3)"></i></div>
                                                                        <div class="rate-item"><i class="fa fa-star" aria-hidden="true" onclick="updateRateing(4)"></i></div>
                                                                        <div class="rate-item"><i class="fa fa-star" aria-hidden="true" onclick="updateRateing(5)"></i></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-singel">
                                                                <textarea placeholder="Comment" id="message"></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12">
                                                            <div class="form-singel">
                                                                <button id="courseReview" type="button" class="main-btn">Post Comment</button>
                                                            </div>
                                                        </div>
                                                    </div> <!-- row -->
                                                </form>
                                            </div>
                                        {% else %}
                                            <div class="title pt-15">
                                                <h6>Only enroll students can review</h6>
                                            </div>
                                        {% endif %}
                                    </div> <!-- reviews cont -->
                                </div>
                            </div> <!-- tab content -->
                        </div>
                    </div> <!-- corses singel left -->
                    
                </div>
                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="course-features mt-30">
                               <h4>Course Features </h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>Duaration : <span>{{course.duration_hours}} Hours</span></li>
                                    <li><i class="fa fa-clone"></i>Leactures : <span>{{course.lectures}}</span></li>
                                    <li><i class="fa fa-beer"></i>Quizzes :  <span>{{course.quizzes}}</span></li>
                                    <li><i class="fa fa-user-o"></i>Students :  <span>{{course.students.count}}</span></li>
                                </ul>
                                <div class="price-button pt-10">
                                    <span>Price : <b>${{course.price}}</b></span>
                                    <a href="#" class="main-btn">Enroll Now</a>
                                </div>
                            </div> <!-- course features -->
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="You-makelike mt-30">
                                <h4>You make like </h4> 
                                <div class="singel-makelike mt-20">
                                    <div class="image">
                                        <img src="{% static 'images/your-make/y-1.jpg' %}" alt="Image">
                                    </div>
                                    <div class="cont">
                                        <a href="#"><h4>Introduction to machine languages</h4></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                            <li>$50</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="singel-makelike mt-20">
                                    <div class="image">
                                        <img src="{% static 'images/your-make/y-1.jpg' %}" alt="Image">
                                    </div>
                                    <div class="cont">
                                        <a href="#"><h4>How to build a basis game with java </h4></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                            <li>$50</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="singel-makelike mt-20">
                                    <div class="image">
                                        <img src="{% static 'images/your-make/y-1.jpg' %}" alt="Image">
                                    </div>
                                    <div class="cont">
                                        <a href="#"><h4>Basic accounting from primary</h4></a>
                                        <ul>
                                            <li><a href="#"><i class="fa fa-user"></i>31</a></li>
                                            <li>$50</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="releted-courses pt-95">
                        <div class="title">
                            <h3>Releted Courses</h3>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="singel-course mt-30">
                                    <div class="thum">
                                        <div class="image">
                                            <img src="{% static 'images/course/cu-2.jpg' %}" alt="Course">
                                        </div>
                                        <div class="price">
                                            <span>Free</span>
                                        </div>
                                    </div>
                                    <div class="cont">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>(20 Reviws)</span>
                                        <a href="{% static 'courses-singel.html' %}"><h4>Learn basis javascirpt from start for beginner</h4></a>
                                        <div class="course-teacher">
                                            <div class="thum">
                                                <a href="#"><img src="{% static 'images/course/teacher/t-2.jpg' %}" alt="teacher"></a>
                                            </div>
                                            <div class="name">
                                                <a href="#"><h6>Mark anthem</h6></a>
                                            </div>
                                            <div class="admin">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- singel course -->
                            </div>
                            <div class="col-md-6">
                                <div class="singel-course mt-30">
                                    <div class="thum">
                                        <div class="image">
                                            <img src="{% static 'images/course/cu-1.jpg' %}" alt="Course">
                                        </div>
                                        <div class="price">
                                            <span>Free</span>
                                        </div>
                                    </div>
                                    <div class="cont">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                        <span>(20 Reviws)</span>
                                        <a href="{% static 'courses-singel.html' %}"><h4>Learn basis javascirpt from start for beginner</h4></a>
                                        <div class="course-teacher">
                                            <div class="thum">
                                                <a href="#"><img src="{% static 'images/course/teacher/t-3.jpg' %}" alt="teacher"></a>
                                            </div>
                                            <div class="name">
                                                <a href="#"><h6>Mark anthem</h6></a>
                                            </div>
                                            <div class="admin">
                                                <ul>
                                                    <li><a href="#"><i class="fa fa-user"></i><span>31</span></a></li>
                                                    <li><a href="#"><i class="fa fa-heart"></i><span>10</span></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- singel course -->
                            </div>
                        </div> <!-- row -->
                    </div> <!-- releted courses -->
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </section>
    
    <!--====== COURSES SINGEl PART ENDS ======-->
   
    <script type="text/javascript">
        console.log('started')
        var courseId = JSON.parse("{{ courseId|escapejs }}");
        var username = JSON.parse("{{ username|escapejs }}");
        var studentId = JSON.parse("{{ studentId|escapejs }}");
        var studentImage = JSON.parse("{{ studentImage|escapejs }}");
        console.log(courseId);
        console.log(studentId);
        console.log(studentImage);
  
        const chatSocket = new WebSocket(
          "ws://" + window.location.host + "/ws/coursereviewcreation/" + courseId + "/"
        );
  
        chatSocket.onerror = function(e) {
          console.error("WebSocket error:", e); // Debug statement
        };
  
        chatSocket.onclose = function (e) {
          console.log("onclose");
        };


  
        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
  
          if (data.message) {
            console.log(data);
            document.querySelector("#review").innerHTML += `
            <li>
                <div class="singel-reviews">
                    <div class="reviews-author">
                        <div class="author-thum">
                            <img src="${data.userImg}" alt="Reviews">
                        </div>
                        <div class="author-name">
                            <h6>${data.username}</h6>
                            <span>${(data.created_at)}</span>
                        </div>
                    </div>
                    <div class="reviews-description pt-20">
                        <p>${data.message}</p>
                        <div class="rating">
                            <ul>
                                ${'<li><i class="fa fa-star"></i></li>'.repeat(data.rating)}
                            </ul>
                            <span>${data.rating}</span>
                        </div>
                    </div>
                </div>
            </li>`;
        } else {
            alert("The message was empty!");
        }
  
  
  
          scrollToBottom();
        };

        function updateRateing(rating){
            const rateContainer = document.querySelector('.rate');
            rateContainer.setAttribute('data-total-rating', rating);
        }
  
        document.querySelector("#courseReview").onclick = function (e) {
          e.preventDefault();
          const rateContainer = document.querySelector('.rate');
          const rateCount = rateContainer.getAttribute('data-total-rating');
          console.log(`stars ${rateCount}`);
          const messageInputDom = document.querySelector("#message");
          const message = messageInputDom.value;
  
          console.log({
            message: message,
              username: username,
              courseId: courseId,
              studentId: studentId,
              userImg: studentImage,
              rating:rateCount,
          });
  
          chatSocket.send(
            JSON.stringify({
              message: message,
              username: username,
              courseId: courseId,
              studentId: studentId,
              userImg: studentImage,
              rating:rateCount,
            })
          );
  
          messageInputDom.value = "";
  
          return false;
        };
  
        /**
         * A function for finding the messages element, and scroll to the bottom of it.
         */
        function scrollToBottom() {
          let objDiv = document.getElementById("review");
          objDiv.scrollTop = objDiv.scrollHeight;
        }
  
        // Add this below the function to trigger the scroll on load.
        scrollToBottom();
    </script>


    {% endblock %}
